fastapi
uvicorn
openai
langchain
langchain-openai
langchain_community
langchain-community
langsmith
python-dotenv
transformers
fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
jupyter
jupyterlab
pandas
passlib
pydantic
pyjwt